/* Reglas generales */

/* regla para ver la estructura de cajas */
/*div {
	border: 1px solid black;
}*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: black;
	background: white;
	text-align: justify;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 18px;
	color: #555;
}

hr {
	margin-bottom: 3px;
	margin-top: 3px;
	clear: both;
}

/* Reglas para las cajas */

div.contenido { /* Caja que engloba a todas */

	padding-left: 150px;
	padding-right: 150px;
	overflow: auto;
}

div.cabecera {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

/* Reglas para la cabecera */
 
img.logo{
	width:341px;
	height:43px;
}

p#fechaActual {
	float: right;
	font-size: 75%;
	color: gray;
}

/* Reglas para la noticia */

p.autorFecha{
	margin: 0;
	font-size: 80%;
	color: #444;
	font-weight: bold;
}

p.entradilla {

	font-size: 75%;
}

div.cuerpo {
	
	margin-top: 20px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */

}

div.cuerpo p {
	line-height: 150%;
	font-size: 95%;
	margin-top: 0;
}

article {
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
}

figure.fotoNoticia {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

img.fotoNoticia {
	width: 100%;
}

figcaption.pieDeFoto {
	margin: 0;
	font-size: 75%;
	color: #666;
}
