/* Reglas generales */

.listado_noticias, .listado_secciones, .listado_subsecciones, .listado_publicidades, .edicion_noticia {
	width: 70%;
	float:left;
}

.estado_publicada, .estado_pendiente{
	font-size: 12px;
	font-weight: bold;
	margin-left: 20px;
}

.estado_publicada {
	color: green;
}

.estado_pendiente {
	color: red;
}

article figure {
	width: 25%;
	float:left;
	margin: 0;
	margin-right: 10px;
}

article figure img {
	width: 100%;
	
}

article h1 {
	font-size: 15px;
}

.menuGestorContenidos, .menuGestorSecciones, .menuGestorSubsecciones, .menuGestorPublicidades, .menuGestorNoticias {
	margin-top: 20px;
	width: 25%;
}

.listado_noticias > h1 {
	font-size: 25px;
}

.listado_noticias ul, .listado_secciones ul, .listado_subsecciones ul, .listado_publiciaddes ul{
	margin-top: 30px;
}

.listado_noticias h2 {
	font-size: 13px;
}

.listado_noticias ul li, .listado_secciones li, .listado_subsecciones li, .listado_publicidades li {
	clear: both;
	margin-bottom: 25px;
}

article {
	overflow: auto;
}

/* Gestor de comentarios */

.comentario {
	margin-bottom: 30px;
	border-bottom: 1px solid gray;
}

.comentario h1 {
	font-size: 16px;
}

.comentario h2 {
	font-size: 15px;
}

.comentario p {
	font-size: 13px;
	overflow: auto;
}
.selector_noticia {
	float: left;
	margin-right: 20px;
}

button {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #aa0000;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	border-radius: 10px;
	
}

button:hover{
	background: #ee0000;
}

button:active {
	background: #ff8300
}

div.botones {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

div.nuevo_comentario, div.nueva_seccion, div.nueva_subseccion, div.nueva_publicidad, div.nueva_noticia {
	margin-top: 20px;
	display: none;
}

div.nuevo_comentario input.inputfecha, div.nuevo_comentario input.inputhora
{
	display: inline;
}

div.nuevo_comentario input, div.nueva_publicidad input, .publicidad input, div.nueva_noticia input, div.edicion_noticia input {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#imagenPublicidad, #imagenModificar, #nuevo_video, #nuevas_imagenes{
	display: inline;
}

#formGestionNoticias > p{
	margin-top: 0;
}

#miFormularioEditarNoticia {
	margin-top: 20px;
	margin-bottom: 20px;
}

#formGestionPublicidades{
	margin-top: 20px;
}

li.publicidad > a {
	width: 25%;
	display: block;
	float: left;
	margin-bottom: 20px;
}

li.publicidad {
	overflow: auto;
}

.img_publicidad{
	width: 100%;
}

div.nuevo_comentario textarea, div.nueva_publicidad textarea, div.nueva_noticia textarea, div.edicion_noticia textarea {
	margin-top: 10px;
	width: 100%;
	height: 50px;
}

div.nuevo_comentario fieldset, div.nueva_publicidad fieldset, div.nueva_noticia fieldset, div.edicion_noticia fieldset{
	padding:20px;
	padding-top: 10px;
}

button.ocultar, button.cancelar {
	float:right;
}

label li.subseccion h1, label li.publicidad h1 {
	font-size: 20px;
}

ul.secciones_noticias > li {
	list-style-type: disc;
	margin-left: 20px;
}

ul.secciones_noticias {
	border: none;
	margin-top: 30px;
	overflow: auto;
	
}

div.nueva_noticia {
	text-align: left;
}

div.editor {
	margin-top: 10px;
	margin-bottom: 20px;
}

.span_cuerpo{
	margin-bottom: 10px;
}

.imagen_editar {
	width: 20px;
	margin-left: 10px;
}

.imagen_stats {
	width: 20px;
	margin-left: 10px;
}

h1 > input.selector_publicidad {
	display: inline;
	margin-right: 5px;
}

ul.subsecciones_gestor_noticias li {
	list-style-type: circle;
	margin-bottom: 10px;
	margin-top: 10px;
}

ul.subsecciones_gestor_noticias {
	margin-left:30px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.listado_noticias > ul {
	margin-top: 0;
}

.imagen_publi {
	margin-right: 20px;
}

li > a.cancelar {
	display: inline;
	width: auto;
	margin-left: 10px;
	float: none;
}